---
layout: base
---

<div class="md:w-4/5 mx-auto columns-2 md:columns-3 my-10 gap-0">
  
  <div class="gallery-item">
    <img src="{{ '/assets/images/PHOTO-2024-11-05-09-32-07.jpg' | relative_url }}" alt="PHOTO-2024-11-05-09-32-07" class="w-full max-w-screen-sm h-auto shadow-md">
    <div class="overlay">
      <div class="text">PHOTO-2024-11-05-09-32-07</div>
    </div>
  </div>
  
  <div class="gallery-item">
    <img src="{{ '/assets/images/PHOTO-2024-11-05-09-35-01.jpg' | relative_url }}" alt="PHOTO-2024-11-05-09-35-01" class="w-full max-w-screen-sm h-auto shadow-md">
    <div class="overlay">
      <div class="text">PHOTO-2024-11-05-09-35-01</div>
    </div>
  </div>
  
  <div class="gallery-item">
    <img src="{{ '/assets/images/PHOTO-2024-11-05-09-36-25.jpg' | relative_url }}" alt="PHOTO-2024-11-05-09-36-25" class="w-full max-w-screen-sm h-auto shadow-md">
    <div class="overlay">
      <div class="text">PHOTO-2024-11-05-09-36-25</div>
    </div>
  </div>
  
  <div class="gallery-item">
    <img src="{{ '/assets/images/PHOTO-2024-11-05-09-37-46.jpg' | relative_url }}" alt="PHOTO-2024-11-05-09-37-46" class="w-full max-w-screen-sm h-auto shadow-md">
    <div class="overlay">
      <div class="text">PHOTO-2024-11-05-09-37-46</div>
    </div>
  </div>

  <div class="gallery-item">
    <img src="{{ '/assets/images/PHOTO-2024-11-05-09-29-58.jpg' | relative_url }}" alt="PHOTO-2024-11-05-09-29-58" class="w-full max-w-screen-sm h-auto shadow-md">
    <div class="overlay">
      <div class="text">PHOTO-2024-11-05-09-29-58</div>
    </div>
  </div>
  
  <div class="gallery-item">
    <img src="{{ '/assets/images/PHOTO-2024-11-05-09-38-04.jpg' | relative_url }}" alt="PHOTO-2024-11-05-09-38-04" class="w-full max-w-screen-sm h-auto shadow-md">
    <div class="overlay">
      <div class="text">PHOTO-2024-11-05-09-38-04</div>
    </div>
  </div>

</div>


